<div class="col-sm-4 prices" ng-controller="PricesController as vm">
      <h2>Hourly Energy Prices</h2>
      <div class="col-xs-6">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
        viewBox="0 0 160 160">
        <g>
          <circle style="fill:transparent;stroke:#F2CF61;stroke-width:1;stroke-miterlimit:10;" cx="80" cy="80" r="80">
          </circle>
          <circle style="fill:transparent;stroke:#F2CF61;stroke-width:1;stroke-miterlimit:10;" cx="80" cy="80" r="85">
          </circle>
          <text class="circle-prices-date" x="50%" y="40%" text-anchor="middle" fill="#F2CF61">{{vm.allPrices.datetime}}</text>
          <text class="circle-prices" x="50%" y="65%" text-anchor="middle" fill="#4AB8A1">0.08</text>
          <text class="circle-prices-units" x="50%" y="80%" text-anchor="middle" fill="#4AB8A1">€/kWh</text>
        </g>
      </svg>
      <h4>Cheapest hour</h4>
      </div>
      <div class="col-xs-6">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
        viewBox="0 0 160 160">
        <g>
          <circle style="fill:transparent;stroke:#F2CF61;stroke-width:1;stroke-miterlimit:10;" cx="80" cy="80" r="80">
          </circle>
          <circle style="fill:transparent;stroke:#F2CF61;stroke-width:1;stroke-miterlimit:10;" cx="80" cy="80" r="85">
          </circle>
          <text class="circle-prices-date" x="50%" y="40%" text-anchor="middle" fill="#F2CF61">04:00pm</text>
          <text class="circle-prices" x="50%" y="65%" text-anchor="middle" fill="#4AB8A1">0.12</text>
          <text class="circle-prices-units" x="50%" y="80%" text-anchor="middle" fill="#4AB8A1">€/kWh</text>
        </g>
      </svg>
      <h4>Expensive hour</h4>
</div>