 <!--  <div class="nav navbar-nav navbar-right colored-icons">
    <a href="../logout"><span class="glyphicon glyphicon-log-out"></span> <span>Logout</span> </a> 
  </div> -->

  <main class ="container dashboard">
    <div class="row">
      <div class="col-md-4">
        <h1>User</h1>
        <div class="col-xs-6">
        <h4>Last read kWh</h4>
        <h4>Last read at <button class="btn btn-default"> {{vm.date}}</button></h4>  
        <h4>Current: <button class="btn btn-default"> {{vm.current}}W </button></h4>
        <!-- <p>Accumulated:{{vm.accumulated}} W</p> -->
        </div>
        <div class="col-xs-6">
        <!-- <h4>% change previous read</h4> -->
        </div>
      </div>
      <div class="col-sm-8">
        <h1>Graphs</h1>
        <div class="btn-group btn-group-justified time-buttons" role="group" aria-label="...">
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-info">Real-time</button>
          </div>
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-default">Hourly</button>
          </div>
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-default">Daily</button>
          </div>
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-default">Monthly</button>
          </div>
        </div>
        <section id="chart"></section>
      </div>
    </div>
      
    <div class="row">
      <div class="col-sm-4">
        <h1>Hourly Energy Prices</h1>
        <div class="col-xs-6">
        <h4>Cheapest hour</h4>
        <div class="circle">
          <h2> 10:00am</h2>
          <h3> 0,08 </h3>
          <h5> €/kWh </h5>
        </div>
        </div>
        <div class="col-xs-6">
        <h4>Most expensive hour</h4>
        <div class="circle">
          <h2> 18:00pm</h2>  
          <h3> 0,10 </h3>
          <h5> €/kWh </h5>
        </div>
        </div>
      </div>
      <div class="col-md-8">
        <h1>Agregatted data</h1>
        <div class="col-xs-6 col-sm-3">
        <h4>Hour</h4>
        <div class="circle">
          <h3> 37 </h3>
          <h5> kWh </h5>
        </div>
        </div>
        <div class="col-xs-6 col-sm-3">
        <h4>Day</h4>
        <div class="circle">
          <h3> 37 </h3>
          <h5> kWh </h5>
        </div>
        </div>
        <div class="col-xs-6 col-sm-3">
        <h4>Month</h4>
        <div class="circle">
          <h3> 37 </h3>
          <h5> kWh </h5>
        </div>
        </div>
        <div class="col-xs-6 col-sm-3">
        <h4>Year</h4>
        <div class="circle">
          <h3> 37 </h3>
          <h5> kWh </h5>
        </div>
        </div>
    
      </div>
    </div> 
    </main>

