<!DOCTYPE html>
<html lang="en" ng-app="EleconsApp">
<head>
  <meta charset="UTF-8">
  <title>Elecons</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="../bower_components/font-awesome/css/font-awesome.min.css">
  <script src="../bower_components/angular/angular.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Lato:300" rel="stylesheet">
  <!-- Load c3.css -->
  <link rel="stylesheet" href="../bower_components/c3/c3.css" type="text/css">
  <link rel="stylesheet" href="../css/dashboard.css">

</head>
<body>
<div class="background-img">
  <div class="background-filter">
  <header>
    <nav class="navbar navbar-inverse" >
      <div class="container" id="nav-style">
        <div class="nav navbar-nav">
          <a class="navbar-brand" href="#!/"><img class="logo" src="../img/logo-elecons.png" alt=""></a>
        </div>
        <div class="nav navbar-nav navbar-right colored-icons">
          <a href="../logout"><span class="glyphicon glyphicon-log-out"></span> <span>Logout</span> </a> 
        </div>
      </div>
    </nav>
  </header>

  <main class ="container">
    <div class="row">
      <div class="col-sm-4">
        <h1>Josep Otal</h1>
        <div class="col-xs-6">
        Last read kWh
        </div>
        <div class="col-xs-6">
        % change previous read
        </div>

      </div>
      <div class="col-sm-8">
        <h1>Agregatted data</h1>
        <div class="col-sm-3">
        Hour
        </div>
        <div class="col-sm-3">
        Day
        </div>
        <div class="col-sm-3">
        Month
        </div>
        <div class="col-sm-3">
        Year
        </div>
    
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <h1>Hourly Energy Prices</h1>
        <div class="col-xs-12">
        Cheapest hour
        </div>
        <div class="col-xs-12">
        Most expensive hour
        </div>
      </div>
      <div class="col-sm-8">
        <h1>Graphs</h1>
        <div class="btn-group btn-group-justified" role="group" aria-label="...">
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-default">Real-time</button>
          </div>
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-default">Hourly</button>
          </div>
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-default">Daily</button>
          </div>
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-default">Monthly</button>
          </div>
        </div>
        <div id="chart">
          Graph
        </div>
        <ul id="list"></ul>
      </div>
    </div> 
  </main>


  <footer class="footer">
    <div class="container">
      <div class="row">
        <p>Elecons Inc. 2017</p>
      </div>
    </div>

  </footer>
  </div>
</div>




  <!-- Loading the jquery library -->
  <script src="../bower_components/jquery/dist/jquery.min.js"></script>
  <!-- Latest compiled and minified JS -->
  <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <!-- Load d3.js and c3.js -->
  <script src="../bower_components/d3/d3.min.js"></script>
  <script src="../bower_components/c3/c3.min.js"></script>

  <script src="../js/app.module.js"></script>
  <script src="../js/app.factory.js"></script>
  <script src="../js/app.controller.js"></script>
  <script src="../js/chart.js"></script>
</body>
</html>