.dashboard
  h2
    color: #F2CF61
  h3
    color: #F2CF61
  h4
    color: #4AB8A1
    padding-top: 10px

.time-buttons
  //padding-bottom: 30px 
  padding-top: 15px 
  div
    button
      border: 1px solid #4AB8A1
      border-radius: 25px
      background-color: Transparent
      text-align: center
      font-size: 20px
      //font-weight: bold
      color: #F2CF61
    button:hover
      color: #4AB8A1
      background: #F2CF61

.prices, .consumption-aggr
  h2
    padding-bottom: 20px
  h4 
    padding: 0px
    text-align: center


.prices-day-button
  button
    border: 1px solid #4AB8A1
    border-radius: 25px
    background-color: Transparent
    text-align: center
    font-size: 20px
    //font-weight: bold
    color: #F2CF61
  button:hover
    color: #4AB8A1
    background: #F2CF61

.circle-data
  font-size: 24px
.circle-data-units
  font-size: 20px
.circle-data-units-date
  font-size: 20px

.circle-prices
  font-size: 20px
.circle-prices-units
  font-size: 20px
.circle-prices-date
  font-size: 28px


@media all and (max-width: 450px)
  .dashboard
    h2
      color: #F2CF61
    h3
      color: #F2CF61
      font-size: 20px
    h4
      color: #4AB8A1
      padding-top: 10px


#chart-now
  rect
    fill: #222222
  
// .highcharts-grid.highcharts-xaxis-grid 
//   color: red

#chart-day
  rect
    width: 100%