div 
  border: 1px solid red

.prices
  margin: 0px auto
  h2
    padding-bottom: 20px
  h4 
    padding: 0px
    text-align: center

.circle-min-price

.prices-day-button
  button
    margin: 0 auto
    border: 1px solid #4AB8A1
    border-radius: 25px
    background-color: Transparent
    text-align: center
    font-size: 20px
    //font-weight: bold
    color: #F2CF61
  button:hover
    color: #4AB8A1
    background: #F2CF61


.circle-data
  font-size: 24px
.circle-data-units, .circle-data-units-date
  font-size: 20px

.circle-prices, .circle-prices-units
  font-size: 20px
.circle-prices-date
  font-size: 28px

