/* line 4, C:/Users/Josep/Documents/Skylabcoders/projects-bootcamp/elecons/public/sass/home.sass */
body {
  font-family: 'Lato', sans-serif;
}

/* line 7, C:/Users/Josep/Documents/Skylabcoders/projects-bootcamp/elecons/public/sass/home.sass */
.logo {
  height: 40px;
  margin-top: -7px;
}

/* line 11, C:/Users/Josep/Documents/Skylabcoders/projects-bootcamp/elecons/public/sass/home.sass */
#nav-style {
  height: 60px;
}

/* line 14, C:/Users/Josep/Documents/Skylabcoders/projects-bootcamp/elecons/public/sass/home.sass */
.background-img {
  background-image: url("../img/background-img.jpg");
  height: 100%;
}

/* line 18, C:/Users/Josep/Documents/Skylabcoders/projects-bootcamp/elecons/public/sass/home.sass */
.background-filter {
  background: rgba(0, 0, 0, 0.6);
  height: 100%;
}

/* line 23, C:/Users/Josep/Documents/Skylabcoders/projects-bootcamp/elecons/public/sass/home.sass */
.colored-icons li, .colored-icons a, .colored-icons span {
  color: #F2CF61;
  font-size: 18px;
}

/* line 27, C:/Users/Josep/Documents/Skylabcoders/projects-bootcamp/elecons/public/sass/home.sass */
.fa.fa-bolt, .fa.fa-bar-chart, .fa.fa-money {
  color: #4AB8A1;
}

/* line 30, C:/Users/Josep/Documents/Skylabcoders/projects-bootcamp/elecons/public/sass/home.sass */
.main-left {
  padding-left: 10px;
  margin-bottom: 70px;
}

/* line 33, C:/Users/Josep/Documents/Skylabcoders/projects-bootcamp/elecons/public/sass/home.sass */
.main-left h1 {
  font-size: 40px;
  color: #4AB8A1;
  line-height: 55px;
  padding-top: 50px;
  padding-bottom: 20px;
}

/* line 40, C:/Users/Josep/Documents/Skylabcoders/projects-bootcamp/elecons/public/sass/home.sass */
.main-left h1 span {
  color: #F2CF61;
}

/* line 42, C:/Users/Josep/Documents/Skylabcoders/projects-bootcamp/elecons/public/sass/home.sass */
.main-left button {
  border: 2px solid #4AB8A1;
  border-radius: 25px;
  background-color: Transparent;
}

/* line 46, C:/Users/Josep/Documents/Skylabcoders/projects-bootcamp/elecons/public/sass/home.sass */
.main-left button a {
  font-size: 20px;
  font-weight: bold;
  color: #F2CF61;
}

/* line 50, C:/Users/Josep/Documents/Skylabcoders/projects-bootcamp/elecons/public/sass/home.sass */
.main-left button a:hover {
  color: white;
}

/* line 53, C:/Users/Josep/Documents/Skylabcoders/projects-bootcamp/elecons/public/sass/home.sass */
.main-right {
  padding-top: 40px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

/* line 58, C:/Users/Josep/Documents/Skylabcoders/projects-bootcamp/elecons/public/sass/home.sass */
.main-right h2 {
  font-size: 35px;
  color: #4AB8A1;
  padding-bottom: 30px;
}

/* line 63, C:/Users/Josep/Documents/Skylabcoders/projects-bootcamp/elecons/public/sass/home.sass */
.main-right .features-list {
  padding-bottom: 30px;
  justify-content: center;
}

/* line 66, C:/Users/Josep/Documents/Skylabcoders/projects-bootcamp/elecons/public/sass/home.sass */
.main-right .features-list h3 {
  font-size: 25px;
  color: #F2CF61;
  padding-left: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
  vertical-align: center;
}

/* line 77, C:/Users/Josep/Documents/Skylabcoders/projects-bootcamp/elecons/public/sass/home.sass */
.footer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 60px;
  background: #222222;
  color: #F2CF61;
}

/* line 87, C:/Users/Josep/Documents/Skylabcoders/projects-bootcamp/elecons/public/sass/home.sass */
.footer div p {
  font-size: 18px;
  padding-top: 20px;
}

@media all and (max-width: 350px) {
  /* line 96, C:/Users/Josep/Documents/Skylabcoders/projects-bootcamp/elecons/public/sass/home.sass */
  .main-right .features-list {
    display: inline-block;
  }
}

/*# sourceMappingURL=../css/home.map */