<ng-include src="'/templates/navbar.html'"></ng-include>

<div class="col-sm-9 col-lg-10 container power">
    <div id="user-button">
        <h2>User Profile</h2>
        <p>Please fill in the required information so that you can enjoy the most your experience in Elecons </p>
        <div class="row">
        </div>
    </div>
    <form class="form-horizontal personal-info" role="form" ng-submit="vm.updateUser($event)">
        <h3>Personal info</h3>
        <div class="form-group">
            <label class="col-md-3 control-label">First name:  </label>
            <p class="col-md-3">{{vm.user.firstName}}</p>
            <div class="col-md-3">
                <input class="form-control" type="text" ng-model="firstName" placeholder="Edit firstName" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Last name: </label>
            <p class="col-md-3">{{vm.user.lastName}}</p>
            <div class="col-md-3">
                <input class="form-control" type="text" ng-model="lastName" placeholder="Edit lastName..." required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Email: </label>
            <p class="col-md-3">{{vm.user.email}}</p>
            <div class="col-md-3">
                <input class="form-control" type="email" ng-model="email" placeholder="Edit email..." required>
            </div>
        </div>
        <h3>Energy info</h3>
        <div class="form-group">
            <label class="col-md-3 control-label">Contracted Power:</label>
            <p class="col-md-3">{{vm.user.contractedPower}}</p>
            <div class="col-md-3">
                <select class="form-control" type="text" ng-model="contractedPower" required>
                    <option value="">Select Your Contracted Power</option>
                    <option value="2.30">2.30</option>
                    <option value="3.45">3.45</option>
                    <option value="4.60">4.60</option>
                    <option value="5.75">5.75</option>
                    <option value="6.90">6.90</option>
                    <option value="8.05">8.05</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Energy tariff:</label>
            <p class="col-md-3">{{vm.user.energyTariff}}</p>
            <div class="col-md-3">
                <select class="form-control" type="text" ng-model="energyTariff" required>
                    <option value="">Select Your EnergyTariff</option>
                    <option value="PVPC">PVPC</option>
                    <option value="PVPC DH">PVPC DH</option>
                    <option value="PVPC EV">PVPC EV</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Device connected</label>
            <p class="col-md-3">{{vm.user.urlCurrentPower}}</p>
            <div class="col-md-3">
                <input class="form-control" type="text" ng-model="urlCurrentPower" required>
                
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label"></label>
            <div class="col-md-8">
                <input type="submit" class="btn btn-primary" value="Save Changes">
                <span></span>
                <input type="reset" class="btn btn-default" value="Cancel">
            </div>
        </div>
    </form>
</div>
