<ng-include src="'/templates/navbar.html'"></ng-include>

<div class="col-sm-9 col-lg-10 container dashboard">
  <div id="dashboard-button" ng-controller = "ApiController as vm">
    <h2>{{vm.users[0].username}}</h2>
    <p>The chart below compares the current month consumption with the same month of last year. The data is updated daily </p>
    
    <ul>
      <li ng-repeat="user in vm.users">
        {{user._id}}
      </li> 
      <p> {{}}</p>
    </ul>

    <div class="row status-box">
      <div class="col-md-5 col-md-offset-1">
        <h4>Current Month</h4>
        <p>March 2016: 30 kWh | March 2017: 70 kWh</p>
        <div id= "comparison-chart"> </div>
      </div>
    
      <div class="col-md-4 col-md-offset-1">
      
      <div class="col-xs-12 status">
        <h3>GOOD!!</h3>
          <!-- Green and red if up or down -->
        <h3>BAD!!</h3>
      </div>

      <div class="col-xs-12">
        <h4>Your Savings</h4>
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
          viewBox="0 0 160 160">
          <g>
            <circle style="fill:transparent;stroke:#F2CF61;stroke-width:1;stroke-miterlimit:10;" cx="80" cy="80" r="80">
            </circle>
            <circle style="fill:transparent;stroke:#F2CF61;stroke-width:1;stroke-miterlimit:10;" cx="80" cy="80" r="85">
            </circle>
            <text class="circle-power-date" x="50%" y="40%" text-anchor="middle" fill="#F2CF61">120 kWh</text>
            <text class="circle-power" x="50%" y="65%" text-anchor="middle" fill="#4AB8A1">10 €</text>
            <text class="circle-power-units" x="50%" y="80%" text-anchor="middle" fill="#4AB8A1">date</text>
          </g>
          </svg>
        </div>
        </div>
    </div> <!--end of first row-->
  </div>
</div>